name: beats_filebeat_box
logging.level: warning
logging.to_files: true
logging.files:
  path: /usr/share/filebeat/logs
  name: filebeat
  keepfiles: 7
  permissions: "0644"
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
processors:
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_fields:
      fields:
        organization_name: "extra2000"
        project_name: "home_sensors"
output.logstash:
  hosts: [logstash-pod.lan:5044]
  ssl.verification_mode: "full"
  ssl.certificate_authorities: ["/usr/share/filebeat/elastic-ca.pem"]
  ssl.certificate: "/usr/share/filebeat/beats-certificate-bundle/beats/beats.crt"
  ssl.key: "/usr/share/filebeat/beats-certificate-bundle/beats/beats.key"
queue.mem:
  events: 32
  flush.min_events: 16
  flush.timeout: 30s
monitoring.enabled: false
monitoring.cluster_uuid: "cluster-uuid"
http.enabled: true
http.host: localhost
http.port: 5066
