# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.16/filebeat-module-elasticsearch.html

- module: elasticsearch
  server:
    enabled: true
    var.paths:
      - "/mnt/es-master/logs/*_server.json"

  gc:
    enabled: true
    var.paths:
      - "/mnt/es-master/logs/gc.log"

  audit:
    enabled: true
    var.paths:
      - "/mnt/es-master/logs/*_audit.json"

  slowlog:
    enabled: true
    var.paths:
      - "/mnt/es-master/logs/*_index_search_slowlog.json"
      - "/mnt/es-master/logs/*_index_indexing_slowlog.json"

  deprecation:
    enabled: true
    var.paths:
      - "/mnt/es-master/logs/*_deprecation.json"
